n8n/workflows/WF-1 Profile Intake.json
{
  "name": "WF-1 Profile Intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "linkup-profile",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "f1db06d2-c849-421f-b315-fbadc651f956",
      "name": "Webhook",
      "webhookId": "fe144262-4582-4d98-a690-5292b969e688"
    },
    {
      "parameters": {
        "jsCode": "// ================================================================\n// WF-1 v2 · PROFILE INTAKE with self-improving loop\n// 1. security  2. load style guide + voice profile from DB\n// 3. Haiku: parse profile + classify (§8)  4. retrieve 5 best\n//    similar past drafts  5. Sonnet: draft cold outreach with\n//    style guide + retrieved examples  6. save contact\n// 7. log draft to message_examples (feedback comes later via WF-3)\n// 8. rotate recent-openers list  9. reply to extension\n// ================================================================\n\nconst helpers = this.helpers;\nconst payload = $json.body || {};\n\n// ---------- 1. SECURITY ----------\nif (payload.secret !== $env.LINKUP_SECRET) {\n  throw new Error('Unauthorized — wrong or missing secret');\n}\n\nconst pageText = String(payload.page_text || '').slice(0, 6000);\nconst linkedinUrl = String(payload.url || '').split('?')[0].replace(/\\/+$/, '');\nif (!pageText || !linkedinUrl.includes('linkedin.com/in/')) {\n  throw new Error('This does not look like a LinkedIn profile page');\n}\n\n// ---------- HELPERS ----------\nasync function askClaude(model, maxTokens, temperature, systemPrompt, userPrompt) {\n  let res;\n  try {\n    res = await helpers.httpRequest({\n      method: 'POST',\n      url: 'https://api.anthropic.com/v1/messages',\n      headers: {\n        'x-api-key': $env.ANTHROPIC_API_KEY,\n        'anthropic-version': '2023-06-01',\n        'content-type': 'application/json',\n      },\n      body: JSON.stringify({\n        model: model,\n        max_tokens: maxTokens,\n        // sonnet-5 thinks by default and rejects custom temperatures — omit when null\n        temperature: temperature === null ? undefined : temperature,\n        system: systemPrompt || undefined,\n        messages: [{ role: 'user', content: userPrompt }],\n      }),\n    });\n  } catch (e) {\n    // Dig the real API error out of wherever this n8n version hides it\n    const detail = JSON.stringify(\n      (e.response && (e.response.data || e.response.body)) ||\n      (e.cause && e.cause.response && e.cause.response.data) ||\n      e.description || e.message\n    );\n    throw new Error('CLAUDE call failed (model ' + model + '): ' + detail);\n  }\n  if (typeof res === 'string') res = JSON.parse(res);\n  const textBlock = (res.content || []).find((b) => b.type === 'text');\n  if (!textBlock || !textBlock.text) {\n    throw new Error('Unexpected Claude reply: ' + JSON.stringify(res).slice(0, 400));\n  }\n  return textBlock.text;\n}\n\nfunction extractJson(text) {\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  if (!match) throw new Error('Claude did not return JSON. Got: ' + text.slice(0, 200));\n  return JSON.parse(match[0]);\n}\n\nasync function supabase(method, path, body, extraHeaders) {\n  let res;\n  try {\n    res = await helpers.httpRequest({\n      method: method,\n      url: $env.SUPABASE_URL + path,\n      headers: {\n        apikey: $env.SUPABASE_SERVICE_KEY,\n        Authorization: 'Bearer ' + $env.SUPABASE_SERVICE_KEY,\n        'content-type': 'application/json',\n        ...(extraHeaders || {}),\n      },\n      body: body === undefined ? undefined : JSON.stringify(body),\n    });\n  } catch (e) {\n    const detail = (e.response && e.response.data) ? JSON.stringify(e.response.data) : e.message;\n    throw new Error('SUPABASE call failed (' + method + ' ' + path + '): ' + detail);\n  }\n  if (typeof res === 'string' && res.trim().length) res = JSON.parse(res);\n  return res;\n}\n\n// ---------- 2. LOAD STYLE GUIDE + VOICE PROFILE ----------\nconst cfg = await supabase('GET', '/rest/v1/prompt_config?id=eq.1&select=content');\nif (!cfg || !cfg.length) {\n  throw new Error('prompt_config is empty — paste your style guide (upgrade guide Part 2)');\n}\nconst styleGuide = cfg[0].content;\n\nconst vpRows = await supabase('GET', '/rest/v1/voice_profile?id=eq.1&select=*');\nconst vp = (vpRows && vpRows[0]) || {};\n\n// ---------- 3. PARSE + CLASSIFY (Haiku, temp 0 — §8) ----------\nconst parsePrompt = `You extract structured data from LinkedIn profile page text\nand classify the person for outreach targeting.\nReturn ONLY valid JSON:\n{\"contact\": {\"full_name\": string, \"headline\": string|null, \"company\": string|null,\n  \"role\": string|null, \"previous_companies\": string[], \"college\": string|null,\n  \"location\": string|null, \"is_bits_alum\": boolean, \"notable_points\": string[]},\n \"classification\": {\n  \"is_bits_alum\": boolean,\n  \"seniority_tier\": \"peer\"|\"mid\"|\"senior\",\n  \"side\": \"business\"|\"engineering\",\n  \"track_match\": \"product\"|\"finance\",\n  \"honorific\": \"sir\"|\"maam\"|\"none\",\n  \"special_flag\": \"firstclub\"|\"recruiter\"|\"none\"},\n \"profile_snippet\": string}\n\nRules:\n- is_bits_alum: true ONLY if BITS Pilani (any campus, any program) appears in education.\n- seniority_tier: peer = 0-2 yrs exp or student; mid = 3-14 yrs IC/Manager;\n  senior = 15+ yrs OR Director/VP/Principal/Head/SVP/C-suite.\n- side: engineering = SWE/SDE/EM/QA/DataEng/Architect/DevOps/MLEng/design-craft;\n  business = everything product/growth/strategy/GTM/analytics/finance/ops.\n- track_match: finance = IB/risk/credit/BFSI/insurance/banking; else product.\n- honorific: sir/maam ONLY when seniority_tier = senior.\n- profile_snippet: <=500 chars of the MOST hook-worthy specifics\n  (companies, transitions, projects, posts, milestones).\nUse null for missing fields. Do NOT invent data.\n\nPAGE TEXT:\n${pageText}`;\n\nconst parsed = extractJson(\n  await askClaude('claude-haiku-4-5-20251001', 1000, 0, null, parsePrompt)\n);\nconst contact = parsed.contact;\nconst cls = parsed.classification;\n\n// ---------- 4. RETRIEVE 5 BEST SIMILAR PAST DRAFTS ----------\n// Metadata match beats embeddings at this scale: same message type,\n// same track, same seniority tier, only drafts that WORKED, best first.\nconst GOOD = 'outcome=in.(used_as_is,edited_minor,got_reply_positive,referral_given)';\nconst SELECT = 'select=profile_snippet,draft_sent,draft_original,outcome,quality_score';\nconst BASE = '/rest/v1/message_examples?' + SELECT + '&message_type=eq.cold_outreach&'\n           + GOOD + '&quality_score=gte.0.6&order=quality_score.desc,captured_at.desc&limit=5';\n\nlet examples = await supabase('GET', BASE\n  + '&classification->>track_match=eq.' + cls.track_match\n  + '&classification->>seniority_tier=eq.' + cls.seniority_tier);\nif (!examples || !examples.length) {           // relax: drop the tier filter\n  examples = await supabase('GET', BASE\n    + '&classification->>track_match=eq.' + cls.track_match);\n}\nif (!examples || !examples.length) {           // relax again: any good example\n  examples = await supabase('GET', BASE);\n}\n\n// ---------- 5. BUILD RUNTIME CONTEXT + DRAFT (Sonnet, temp 0.4) ----------\nlet runtime = '';\nif (examples && examples.length) {\n  runtime += '\\n\\n## RUNTIME CONTEXT (learned — updated every call)\\n';\n  runtime += '\\n### Similar past drafts that worked (emulate the voice; NEVER copy sentences verbatim):\\n';\n  examples.forEach((e, i) => {\n    runtime += '\\nExample ' + (i + 1) + ' (outcome: ' + e.outcome + ', quality: ' + e.quality_score + ')\\n'\n             + 'Profile: ' + (e.profile_snippet || '') + '\\n'\n             + 'Draft used: ' + (e.draft_sent || e.draft_original) + '\\n---\\n';\n  });\n}\nif (vp.recent_hook_openers && vp.recent_hook_openers.length) {\n  runtime += '\\n### Recently used opening lines (do NOT repeat these verbatim):\\n- '\n           + vp.recent_hook_openers.slice(-10).join('\\n- ') + '\\n';\n}\nif (vp.learned_bans && vp.learned_bans.length) {\n  runtime += '\\n### Additional learned bans (never generate, on top of the style-guide bans):\\n- '\n           + vp.learned_bans.join('\\n- ') + '\\n';\n}\nif (vp.learned_preferences && Object.keys(vp.learned_preferences).length) {\n  runtime += '\\n### Learned preferences (Sagnik edits toward these — use the right side):\\n'\n           + JSON.stringify(vp.learned_preferences) + '\\n';\n}\n\nconst task = `TASK: Write ONE cold-outreach LinkedIn message to this person,\nfollowing the style guide's template structure (§5) and variation rules (§6) exactly.\n\nCLASSIFICATION (§8, already computed): ${JSON.stringify(cls)}\nPARSED PROFILE: ${JSON.stringify(contact)}\nHOOK MATERIAL (profile snippet): ${parsed.profile_snippet}\n\nRemember: run the §12 checklist before answering.\nOutput ONLY the message (plus a single targeting-note line at the very top\nONLY if the profile is genuinely ambiguous).`;\n\nconst message = (\n  // null temp = model default (required for thinking models); 2000 tokens\n  // because thinking spends output tokens before the actual message\n  await askClaude('claude-sonnet-5', 2000, null, styleGuide + runtime, task)\n).trim();\n\n// ---------- 6. SAVE CONTACT (upsert; get its id back) ----------\nconst row = {\n  linkedin_url: linkedinUrl,\n  full_name: contact.full_name,\n  headline: contact.headline,\n  company: contact.company,\n  role: contact.role,\n  previous_companies: contact.previous_companies || [],\n  college: contact.college,\n  location: contact.location,\n  is_bits_alum: !!contact.is_bits_alum,\n  connection_date: new Date().toISOString().slice(0, 10),\n  first_message: message,\n  status: 'accepted',\n  raw_profile_text: pageText,\n  updated_at: new Date().toISOString(),\n};\nconst saved = await supabase(\n  'POST', '/rest/v1/contacts?on_conflict=linkedin_url&select=id', [row],\n  { Prefer: 'resolution=merge-duplicates,return=representation' }\n);\nconst contactId = saved[0].id;\n\n// ---------- 7. LOG THE DRAFT (outcome stays null until you give feedback) ----------\nconst ex = await supabase(\n  'POST', '/rest/v1/message_examples?select=id',\n  [{\n    contact_id: contactId,\n    message_type: 'cold_outreach',\n    classification: cls,\n    profile_snippet: parsed.profile_snippet,\n    draft_original: message,\n  }],\n  { Prefer: 'return=representation' }\n);\nconst exampleId = ex[0].id;\n\n// ---------- 8. ROTATE RECENT OPENERS + BUMP COUNTER ----------\nconst firstLine = (message.split('\\n').find((l) => l.trim()) || '').slice(0, 160);\nconst openers = (vp.recent_hook_openers || []).concat([firstLine]).slice(-20);\nawait supabase('PATCH', '/rest/v1/voice_profile?id=eq.1', {\n  recent_hook_openers: openers,\n  total_drafts: (vp.total_drafts || 0) + 1,\n  updated_at: new Date().toISOString(),\n});\n\n// ---------- 9. REPLY TO THE EXTENSION ----------\nreturn [{ json: {\n  ok: true,\n  contact: contact,\n  classification: cls,\n  message: message,\n  example_id: exampleId,   // the extension sends this back with your feedback\n} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "404903d3-cc5e-4276-8548-29a899f8a780",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        0
      ],
      "id": "9cedde1e-d313-4d40-9095-00accaff678f",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "cbfea36f-b1b0-4e5d-ad17-11da48dbfed5",
  "meta": {
    "instanceId": "fdc81624ce9f673d193d7ba385b8272153f8837b5acf2061c8a6b18907779573"
  },
  "nodeGroups": [],
  "id": "1oEPiL27mVruC7SH",
  "tags": []
}